{% extends "layout.html" %}

{% block title %}
    Home
{% endblock %}

{% block main %}
    <table class="table">
        <tr>
            <th>Symbol</th>
            <th>Name</th>
            <th>Shares</th>
            <th>Price</th>
            <th>TOTAL</th>
        </tr>
        {% for stock in stocks %}
        <tr>
            <td>{{  stock["symbol"]  }}</td>
            <td>{{  stock["name"]  }}</td>
            <td>{{  stock["SUM(shares)"]  }}</td>
            <td>{{  stock["price"]  }}</td>
            <td>{{  stock["total"]  }}</td>
        </tr>
        {% endfor %}
        <tfoot>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">Cash</td>
                <td class="border-0">{{  cash  }}</td>
            </tr>
            <tr>
                <td class="border-0 fw-bold text-end" colspan="4">TOTAL</td>
                <td class="border-0 w-bold">{{  total  }}</td>
            </tr>

        </tfoot>
    </table>
{% endblock %}
